.fab-button {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.5rem;
}

.is-container-fixed {
  position: fixed;
  bottom: 1.5rem;
  right: 0;
  left: 0;
}

button {
  transition: all 250ms ease;
}