.card .card-content {
  .tags {
    margin-bottom: 0.5rem;
  }

  .title:not(.is-spaced) + .subtitle {
    margin-top: -1rem;
  }

  .fa-youtube {
    transition: color 250ms ease;
  }
}

.card:hover {
  .fa-youtube {
    color: #FF0000;
  }
}