<nav (click)="navExtended = !navExtended" class="container has-box-shadow has-background-primary" role="navigation"
  aria-label="Station selector">
  <ul class="nav-items has-height-100">
    <li class="nav-item">
      <a class="is-uppercase has-height-100 has-width-100 is-flex has-text-white is-size-6 has-text-weight-semibold">
        <span class="has-flex-1">Osrednje Slovenska</span>
        <span class="icon" *ngIf="!navExtended">
          <i class="fas fa-chevron-down"></i>
        </span>
        <span class="icon" *ngIf="navExtended">
          <i class="fas fa-chevron-up"></i>
        </span>
      </a>
    </li>
    <ng-container *ngIf="navExtended">
      <li class="nav-item">
        <a class="is-uppercase has-height-100 has-width-100 is-flex has-text-white is-size-6 has-text-weight-semibold">
          <span>Obala</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="is-uppercase has-height-100 has-width-100 has-text-white is-size-6 has-text-weight-semibold">Obala</a>
      </li>
      <li class="nav-item">
        <a class="is-uppercase has-height-100 has-width-100 has-text-white is-size-6 has-text-weight-semibold">Obala</a>
      </li>
    </ng-container>
  </ul>
</nav>

<section class="section">
  <div class="container">

    <div class="columns">
      <div class="column">
        <div class="card has-border-radius">
          <div class="card-content">
            <div class="tags is-flex">
              <span class="tag is-primary is-uppercase">Nazadnje predvajano</span>
              <span class="tag is-white">
                <span class="icon has-text-grey is-medium">
                  <i class="fab fa-youtube"></i>
                </span>
              </span>
            </div>
            <div class="title has-text-weight-bold">TAMO GDJE LJUBAV POCINJE</div>
            <div class="subtitle is-size-6 has-text-weight-semibold has-text-secondary">CRVENA JABUKA</div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card has-border-radius">
          <div class="card-content">
            <div class="tags is-flex">
              <span class="tag is-primary is-uppercase">21:15</span>
              <span class="tag is-white">
                <span class="icon has-text-grey is-medium">
                  <i class="fab fa-youtube"></i>
                </span>
              </span>
            </div>
            <div class="title is-size-4 has-text-weight-semibold">TAMO GDJE LJUBAV POCINJE</div>
            <div class="subtitle is-size-6 has-text-weight-medium has-text-grey">CRVENA JABUKA</div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card has-border-radius">
          <div class="card-content">
            <div class="tags is-flex">
              <span class="tag is-primary is-uppercase">21:15</span>
              <span class="tag is-white">
                <span class="icon has-text-grey is-medium">
                  <i class="fab fa-youtube"></i>
                </span>
              </span>
            </div>
            <div class="title is-size-4 has-text-weight-semibold">TAMO GDJE LJUBAV POCINJE</div>
            <div class="subtitle is-size-6 has-text-weight-medium has-text-grey">CRVENA JABUKA</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="container is-container-fixed has-text-right">
  <button class="button has-box-shadow fab-button is-primary is-rounded">
    <span class="icon is-small">
      <i class="fas fa-pause"></i>
    </span>
  </button>
</div>

<router-outlet></router-outlet>