nav {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;

  .nav-items {
    .nav-item a {
      padding: 16px 32px;

      span.station-name {
        margin-right: 0.5rem;
      }
    }
  }
}

.icon.extend {
  flex: 1;
  justify-content: flex-end;
}

.card .card-content {
  .tags {
    margin-bottom: 0.5rem;
  }

  .title:not(.is-spaced) + .subtitle {
    margin-top: -1rem;
  }
}

.fab-button {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.5rem;
}

.is-container-fixed {
  position: fixed;
  bottom: 1.5rem;
  right: 0;
  left: 0;
}