<app-header></app-header>

<app-player></app-player>

<section class="section">
  <div class="container">

    <div class="columns">
      <div class="column">
        <div class="card has-border-radius">
          <div class="card-content">
            <div class="tags is-flex">
              <span class="tag is-primary is-uppercase">Nazadnje predvajano</span>
              <span class="tag is-white">
                <span class="icon has-text-grey is-medium">
                  <i class="fab fa-youtube"></i>
                </span>
              </span>
            </div>
            <div class="title has-text-weight-bold">TAMO GDJE LJUBAV POCINJE</div>
            <div class="subtitle is-size-6 has-text-weight-semibold has-text-secondary">CRVENA JABUKA</div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card has-border-radius">
          <div class="card-content">
            <div class="tags is-flex">
              <span class="tag is-primary is-uppercase">21:15</span>
              <span class="tag is-white">
                <span class="icon has-text-grey is-medium">
                  <i class="fab fa-youtube"></i>
                </span>
              </span>
            </div>
            <div class="title is-size-4 has-text-weight-semibold">TAMO GDJE LJUBAV POCINJE</div>
            <div class="subtitle is-size-6 has-text-weight-medium has-text-grey">CRVENA JABUKA</div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card has-border-radius">
          <div class="card-content">
            <div class="tags is-flex">
              <span class="tag is-primary is-uppercase">21:15</span>
              <span class="tag is-white">
                <span class="icon has-text-grey is-medium">
                  <i class="fab fa-youtube"></i>
                </span>
              </span>
            </div>
            <div class="title is-size-4 has-text-weight-semibold">TAMO GDJE LJUBAV POCINJE</div>
            <div class="subtitle is-size-6 has-text-weight-medium has-text-grey">CRVENA JABUKA</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-floating-button></app-floating-button>