<nav class="container has-box-shadow has-background-primary" role="navigation" aria-label="Station selector">
  <a class="nav-items is-flex has-height-100">
    <div
      class="nav-item has-align-self-center has-flex-1 is-uppercase has-text-white is-size-6 has-text-weight-semibold">
      Obala
    </div>
    <span class="icon has-align-self-center has-text-white">
      <i class="fas fa-chevron-down"></i>
    </span>
  </a>
</nav>

<section class="section">
  <div class="container">

    <div class="columns">
      <div class="column">
        <div class="card has-border-radius">
          <div class="card-content">
            <div class="tags is-flex">
              <span class="tag is-primary is-uppercase">Nazadnje predvajano</span>
              <span class="tag is-white">
                <span class="icon has-text-grey is-medium">
                  <i class="fab fa-youtube"></i>
                </span>
              </span>
            </div>
            <div class="title has-text-weight-bold">TAMO GDJE LJUBAV POCINJE</div>
            <div class="subtitle is-size-6 has-text-weight-semibold has-text-secondary">CRVENA JABUKA</div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card has-border-radius">
          <div class="card-content">
            <div class="tags is-flex">
              <span class="tag is-primary is-uppercase">21:15</span>
              <span class="tag is-white">
                <span class="icon has-text-grey is-medium">
                  <i class="fab fa-youtube"></i>
                </span>
              </span>
            </div>
            <div class="title is-size-4 has-text-weight-semibold">TAMO GDJE LJUBAV POCINJE</div>
            <div class="subtitle is-size-6 has-text-weight-medium has-text-grey">CRVENA JABUKA</div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card has-border-radius">
          <div class="card-content">
            <div class="tags is-flex">
              <span class="tag is-primary is-uppercase">21:15</span>
              <span class="tag is-white">
                <span class="icon has-text-grey is-medium">
                  <i class="fab fa-youtube"></i>
                </span>
              </span>
            </div>
            <div class="title is-size-4 has-text-weight-semibold">TAMO GDJE LJUBAV POCINJE</div>
            <div class="subtitle is-size-6 has-text-weight-medium has-text-grey">CRVENA JABUKA</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="container is-container-fixed has-text-right">
  <button class="button has-box-shadow fab-button is-primary is-rounded">
    <span class="icon is-small">
      <i class="fas fa-pause"></i>
    </span>
  </button>
</div>

<router-outlet></router-outlet>