@import "../../../variables.scss";

#sun, #face {
  fill: $secondary;
}

#headphones, #flower {
  fill: $primary;
}

svg {
  max-width: 300px;
  max-height: 300px;
}

.is-flex {
  align-items: center;
  flex-direction: column;
}