// Change font familiy
$family-primary: 'Poppins', sans-serif;

// Change secondary color
$secondary: #8BC91D;

// Change primary color
$primary: #004C9C;

// Change body background color
$body-background-color: #F0F0F0;

// Change border radius
$border-radius: 4px;

// Changed container size to create more mobile look
$widescreen: 960px;
$fullhd: 960px;